<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="./js/JsBarcode.code128.min.js"></script>    
</head>

<body>
    <svg id="barcode"></svg>
    <script>
        var barcodeContent = {{json bcContent}};
        JsBarcode("#barcode", barcodeContent, {
                height: 40,
                width: 1,
                displayValue : false
            });
    </script>  
</body>

</html>