.dot-green {
    box-sizing: border-box;
    border-radius: 50%;
    border: .125rem solid;
    display: inline-block;
    background-color: green;
    width: 1rem;
    height: 1rem;
    border-width: .0625rem;
}

#mapid {
    width: 800px; 
    height: 575px;
}

.label {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: -1em;
}